@components-area-width: 70px;
@options-area-width: 300px;
@canvas-core-width: 375px;
@canvas-core-min-height: 600px;
// prettier-ignore
@canvas-area-width:calc(100vw - @components-area-width - @options-area-width);

.visual {
	display: flex;
	min-height: 100vh;
	.components {
		width: @components-area-width;
		height: 100%;
		padding: 20px;
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			cursor: pointer;
			transition: all 0.5s;
			&:hover {
				transform: scale(1.1);
			}
			&__icon {
				margin-bottom: 5px;
			}
			&__title {
				font-weight: bold;
				margin-bottom: 0.5rem;
			}
		}
	}
	.canvas {
		display: flex;
		justify-content: center;
		align-items: center;
		width: @canvas-area-width;
		background-color: gray;
		&__core {
			width: @canvas-core-width;
			min-height: @canvas-core-min-height;
			background-color: #fff;
		}
	}
	.options {
		width: @options-area-width;
	}
}
